---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Nav from "../../components/Nav.astro";
import Footer from "../../components/Footer.astro";
import ContactForm from "../../components/ContactForm.astro";
---

<BaseLayout title="Get in touch" description="Get in touch with Auravision to learn more about our AI retail intelligence platform.">
  <div class="flex flex-col min-h-screen">
    <Nav />

    <ContactForm />

    <div class="flex-1 bg-white">
      <Footer />
    </div>
  </div>
</BaseLayout>
