---
interface Props {
  href: string;
  class?: string;
}

const { href, class: className } = Astro.props;
---

<a
  href={href}
  class:list={[
    "inline-flex items-center rounded-full bg-purple-600 px-10 py-4 text-base font-title tracking-[0.05em] text-lg text-white transition-all duration-300 hover:bg-purple-500 hover:shadow-[0_0_40px_rgba(147,51,234,1.0)]",
    className,
  ]}
>
  <slot />
</a>
